<head>
  <title>Ultimate Hackathon League - Teams</title>
</head>

<body>
  <h1>Teams</h1>

<!-- Teams are going to be in separate boxes of grid -->
  <table class="teams-list-table" id="team01">
    <tr>
      <th>Name</th>
      <th></th>
      <th>Played</th>
      <th></th>
      <th>Won</th>
      <th></th>
      <th>Lost</th>
      <th></th>
      <th>Points</th>
    </tr>
  </table>
  <table class="teams-list-table" id="team02">
    <tr>
      <th>Name</th>
      <th></th>
      <th>Played</th>
      <th></th>
      <th>Won</th>
      <th></th>
      <th>Lost</th>
      <th></th>
      <th>Points</th>
    </tr>
  </table>
  <table class="teams-list-table" id="team03">
    <tr>
      <th>Name</th>
      <th></th>
      <th>Played</th>
      <th></th>
      <th>Won</th>
      <th></th>
      <th>Lost</th>
      <th></th>
      <th>Points</th>
    </tr>
  </table>
  <table  class="teams-list-table" id="team04">
    <tr>
      <th>Name</th>
      <th></th>
      <th>Played</th>
      <th></th>
      <th>Won</th>
      <th></th>
      <th>Lost</th>
      <th></th>
      <th>Points</th>
    </tr>
  </table>
  <table class="teams-list-table" id="team05">
    <tr>
      <th>Name</th>
      <th></th>
      <th>Played</th>
      <th></th>
      <th>Won</th>
      <th></th>
      <th>Lost</th>
      <th></th>
      <th>Points</th>
    </tr>
  </table>
  <table class="teams-list-table" id="team06">
    <tr>
      <th>Name</th>
      <th></th>
      <th>Played</th>
      <th></th>
      <th>Won</th>
      <th></th>
      <th>Lost</th>
      <th></th>
      <th>Points</th>
    </tr>
  </table>

</body>
