<!DOCTYPE html>
<html>
<head>
  <title>Ultimate Hackathon League - Teams</title>
</head>

<body>
  <h1>Teams</h1>

  <table>
    <tr>
      <th>Name</th>
      <th></th>
      <th>Played</th>
      <th></th>
      <th>Won</th>
      <th></th>
      <th>Lost</th>
      <th></th>
      <th>Points</th>
    </tr>
  </table>
</body>
</html>
