<head>
  <title>Ultimate Hackathon League - Teams</title>
</head>

<body>
  <h1>Teams</h1>

<div class="teams-container">
  <div class="team-box">
  <table class="previous-games-table" id="team01">
    <tr>
      <th colspan="10">Team (Link to teams table)</th>
    </tr>
    <tr>
      <td>Previous Games</td>
      <td>WLWW</td>
    </tr>
  </table>
  </div>
  <div class="team-box">
  <table class="previous-games-table" id="team02">
    <tr>
      <th colspan="10">Team (Link to teams table)</th>
    </tr>
    <tr>
      <td>Previous Games</td>
      <td>WLWW</td>
    </tr>
  </table>
  </div>
  <div class="team-box">
  <table class="previous-games-table" id="team03">
    <tr>
      <th colspan="10">Team (Link to teams table)</th>
    </tr>
    <tr>
      <td>Previous Games</td>
      <td>WLWW</td>
    </tr>
  </table>
  </div>
  <div class="team-box">
  <table  class="previous-games-table" id="team04">
    <tr>
      <th colspan="10">Team (Link to teams table)</th>
    </tr>
    <tr>
      <td>Previous Games</td>
      <td>WLWW</td>
    </tr>
  </table>
  </div>
  <div class="team-box">
  <table class="previous-games-table" id="team05">
    <tr>
      <th colspan="10">Team (Link to teams table)</th>
    </tr>
    <tr>
      <td>Previous Games</td>
      <td>WLWW</td>
    </tr>
  </table>
  </div>
  <div class="team-box">
  <table class="previous-games-table" id="team06">
    <tr>
      <th colspan="10">Team (Link to teams table)</th>
    </tr>
    <tr>
      <td>Previous Games</td>
      <td>WLWW</td>
    </tr>
  </table>
  </div>

</body>
