<!DOCTYPE html>
<html>
<head>
  <title>Ultimate Hackathon League</title>
  <!-- <link rel="stylesheet" type="text/css" href="/styles/buttons.css">
  <link rel="stylesheet" type="text/css" href="/styles/forms.css">
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
  <link rel="stylesheet" type="text/css" href="/styles/tables.css"> -->
</head>
<body>
<!-- <main>
  <div class="grid">
    <div class="nav-box">
      <nav>
        <ul class="flex">
          <li>
          </li>
        </ul>
      </nav>
      </div>
      <div class="content-box">
        <section id="content">
        <<%= yield %>
        </section>
      </div>
    </div>
  </main> -->
</body>
</html>
