.btn {
  background-color: var(--dark-blue);
  color: var(--light-blue)
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
}

.btn--action:hover {
  background-color: purple;
}

.btn--action {
  background-color: lightblue;
}

/* .btn--wrapper {

} */
