body {
  background-color: darkblue;
  color: royalblue;
  font-family: sans-serif;
  font-size: 12pt;
  padding: 10px;
  margin: 10px;
}

h1, h2, h3, h4, h5, h6 {
  color: royalblue;
  font-family: sans-serif;
  font-size: 12pt;
  margin: 5px;
  padding: 5px;
}

h1 {
  font-size: 1.8em;
  color: royalblue;
  margin-bottom: 5px;
}

h2 {
  font-size: 0.5em;
  color: royalblue;
  margin-bottom: 2px;
}

a, a:link, a:visited {
  color: blue;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  color: purple;
}

nav {
  padding: 10px;
  margin: 10px;
}

nav ul li {
  margin-bottom: 15px;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

li{
  padding-right: 15px;
  display: inline-block;
}

main {
  padding: 5px;
}

.flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.inline-block{
  display: inline-block;
}

/* #content {
  border-top: 1px solid black;
  padding-left: 25px;
  padding-top:20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
} */

.grid {
  width: 500px;
  display: grid;
  grid-template-columns: 20% 80%;
}

.nav-box {
  border: 1px lightblue solid;
}

.content-box {
  display: flex;
  flex-direction: row;
}
